
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
  <div class="form" >
   
    <form class="login-form" method="post" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h2><i class="fa-regular fa-square-plus"></i> Nouveau Devoir </h2>
     
      <input type="text" placeholder="description" class="form-control" id="description" name="description" ngModel  required #c="ngModel" />
      <input type="number" placeholder="ponderation" class="form-control" id="ponderation" name="ponderation" ngModel  required #c="ngModel" />
      <input type="text" placeholder="bareme" class="form-control" id="bareme" name="bareme" ngModel  required #c="ngModel" />
      <input type="date" placeholder="dateLimite" class="form-control" id="dateLimite" name="dateLimite" ngModel  required #c="ngModel" />
     
        <div>
          <label>
            <input type="radio" name="statut" value="En attente" ngModel required /> En attente
          </label>
          <label>
            <input type="radio" name="statut" value="terminé" ngModel required /> terminé
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="typedevoir" value="Examen" ngModel required /> Devoir
          </label>
          <label>
            <input type="radio" name="typedevoir" value="Test" ngModel required /> Évaluation
          </label>
        </div>
      
      <div>
        <div>
         
          <div>
            <p-pickList [source]="sousgroupes" [target]="targetSousGroupes" sourceHeader="Les Sous groupes" targetHeader="Selectionnes" [dragdrop]="true" [responsive]="true" 
          [sourceStyle]="{height: '10rem'}" [targetStyle]="{ height: '10rem'}" breakpoint="1000px" >
          <ng-template let-sg pTemplate="item" >
              <div class="flex flex-wrap p-2 align-items-center gap-3" >
                  <div class="flex-1 flex flex-column gap-2">
                      <span ><b>Nom</b>{{ sg.nom }}</span>
                      <br>
                      
                      <div class="flex align-items-center gap-2">
                          <i class="pi pi-tag text-sm"></i>
                          
                      </div>
                  </div>
                  
              </div>
          </ng-template>
        </p-pickList>
        
          </div>
        </div>
        <label>
        <input type="file" (change)="onFileChange($event)" accept="application/pdf" required />
      </label>
      </div>
      <br>
      <button type="submit" name="send2" >Ajouter</button>
      
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script>
</body>
</html>