<body>
    <h1><b>Liste de devoirs rendues</b></h1>
  
    <div class="devoir-container">
      <div *ngFor="let devoir of listDevoirRendu" class="devoir-card">
        <div class="card">
          <div class="container">
            <div class="right">
              <div class="text-wrap">
                <p class="text-content">
                  <strong>{{ devoir.etudiant.email }}</strong><br>
                 <br>
                 
                </p>
              </div>
              <div class="button-wrap">
                <button class="primary-cta" (click)="downloadRenduPDF(devoir.etudiant.email)">Télécharger</button>
               
                
              </div>
              
            </div>
          </div>
        </div>