<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
  <div class="form" >
    <form class="login-form" (ngSubmit)="ajouterEtudiant(f)" #f="ngForm">
        <div class="card-content">
          <h2><i class="fa-regular fa-square-plus"></i> Ajout d'un etudiant </h2>
          <p class="card-description">Ajouter un etudiant au sous groupe</p>
          <br>
          <select class="form-select" [(ngModel)]="selectedEmail" name="selectedEmail">
            <option *ngFor="let e of etudiants" [value]="e.email">{{ e.email }}</option>
          </select>
          <br>
        </div>
        <div class="card-button-wrapper">
          <button class="card-button primary" type="submit">Ajouter</button>
        </div>
      </form>
      
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script>
</body>
</html>
