<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Modifier Devoir</title>
</head>
<body style="display: flex; align-items: center; justify-content: center;">
    <div class="login-page">
        <div class="form">
            <form class="login-form" [formGroup]="UpdateDevoirForm" (ngSubmit)="updateDevoir()">
                <h2><i class="fa-solid fa-pen-to-square"></i> Modifier Devoir</h2>
                <br>
                
        <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" [hidden]="true">
        
      
  
        <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" [hidden]="true">
       
                <input type="text" class="form-control" formControlName="description" name="description" placeholder="Description" required>
                <input type="number" class="form-control" formControlName="ponderation" placeholder="Ponderation" required>
                <input type="number" class="form-control" formControlName="bareme" placeholder="Bareme" required>
                <input type="date" class="form-control" formControlName="dateLimite" required>
               <div>
                    <label>
                      <input type="radio" formControlName="statut" value="En attente"  required /> En attente
                    </label>
                    <label>
                      <input type="radio" formControlName="statut" value="terminé"  required /> terminé
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" formControlName="typedevoir" value="Examen" required /> Devoir
                    </label>
                    <label>
                      <input type="radio" formControlName="typedevoir" value="Test" required /> Évaluation
                    </label>
                  </div>

                   <div>
                    <p-pickList [source]="sousgroupes" [target]="targetSousGroupes" sourceHeader="Les Sous groupes" targetHeader="Selectionnes" [dragdrop]="true" [responsive]="true" 
                  [sourceStyle]="{height: '10rem'}" [targetStyle]="{ height: '10rem'}" breakpoint="1000px" >
                  <ng-template let-sg pTemplate="item" >
                      <div class="flex flex-wrap p-2 align-items-center gap-3" >
                          <div class="flex-1 flex flex-column gap-2">
                              <span ><b>Nom</b>{{ sg.nom }}</span>
                              <br>
                              
                              <div class="flex align-items-center gap-2">
                                  <i class="pi pi-tag text-sm"></i>
                                  
                              </div>
                          </div>
                          
                      </div>
                  </ng-template>
                </p-pickList>
                
                  </div>
                <br>
                <button type="submit">Modifier</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>